<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/site.css" />
    <HeadOutlet />
</head>

<body>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
        </Found>
        <NotFound>
            <LayoutView>
                <p class="text-center text-red-500 mt-10">This page is not valid</p>
            </LayoutView>
        </NotFound>
    </Router>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>