@page "/"

<h1 class="text-xl font-medium text-gray-700 mb-4">Chào mừng đến với ChitChat!</h1>
<p class="text-gray-600">
    Đăng nhập <a href="/signin" class="text-pink-600 underline">Sign in</a>.
</p>
<p class="text-gray-600">
    Đăng ký <a href="/signup" class="text-pink-600 underline">Signup</a>.
</p>
<p class="text-gray-600">
    Trang chủ <a href="/home" class="text-pink-600 underline">Home</a>.
</p>
<p class="text-gray-600">
    ChatAI <a href="/chatai" class="text-pink-600 underline">ChatAI</a>.
</p>
<p class="text-gray-600">
    Single Chat <a href="/singlechat" class="text-pink-600 underline">SingleChat</a>.
</p>
<p class="text-gray-600">
    Single Chat <a href="/groupchat" class="text-pink-600 underline">GroupChat</a>.
</p>
<p class="text-gray-600">
    Friend Request <a href="/friendrequest" class="text-pink-600 underline">FriendRequest</a>.
</p>
<p class="text-gray-600">
    Update Profile <a href="/updateprofile" class="text-pink-600 underline">Update Profile</a>.
</p>