@inherits LayoutComponentBase
<link href="css/site.css" rel="stylesheet" />


<div class="min-h-screen bg-gray-100">
    <header class="bg-pink-200 text-pink-500 px-6 py-4 shadow-md flex justify-between items-center">
        <a href="/" class="text-xl font-bold">ChitChat</a>
    </header>
    <main class="p-6">
        @Body
    </main>
</div>
