@inherits LayoutComponentBase
<link href="css/site.css" rel="stylesheet" />


<div class="min-h-screen bg-gray-100">
    <header class="bg-pink-200 text-pink-700 px-6 py-4 shadow-md flex justify-between items-center">
        <h1 class="text-xl font-bold">ChitChat</h1>
        <a href="/" class="text-sm text-pink-700 hover:underline">Trang chủ</a>
    </header>

    <main class="p-6">
        @Body
    </main>
</div>
